@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Poppins', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    color: rgba(240, 248, 255, 0.831);
    margin: 2% 10%;
}
main {
    background-color: #17165cd6;    
}
header {
    height: 100px;
    margin: 0 5%;
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(24, 2, 55, 0.776)   20%, #36253a41 79%, #443069 100%);
    border-radius: 15px;

  
}
h1 {
    padding-top: 1rem;
    margin: 20px;
    text-align: center;
    font-weight: 70rem;
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 2px 3px rgba(150, 150, 150, 0.738);
    letter-spacing: 2px;
}
.container {
    max-width: max-content;
    padding: 0 20px 0 10px;
    margin: 50px 20px;
    border-radius: 30px;
    display: flex;
    background-color: #FFFFFF;
}
#list {
    padding-bottom:  10px;
    margin: 30px;
    height: 80vh;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: column;
}
.list-container {
    display: flex;
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(24, 2, 55, 0.776)   20%, #36253a41 79%, #443069 100%);
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 5px 15px;
    overflow: hidden;
    border-radius: 10px;
    line-height: 25px;
}
.task {
    color: #ffffffe0;  
    line-height: 50px;
}
input {
    margin: 20px;
    padding: 10px 13px;
    width: 400px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
:focus {
    color:#091b40;
}
#btn{
    border: none;
    background-color:#6b555300;
    color:#091b40;
    font-size: 40px;
    font-weight: 400;
    cursor: pointer;
}
:focus {
    outline: none;
    border: 1px solid #4b464622;;
}

h2 {
    font-size: 18px;
    margin: 20px;
    margin-top: 30px;
    color:rgba(240, 248, 255, 0.461);
    border-bottom: 2px solid  #ffffff82;
}
.btn-remove {   
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 10px;
    background-color:   #6b555300;
    color: #ffffffbc;  
    font-size: 15px; 
    cursor: pointer;
    margin-left: 10px;
}

